<p></p>
<a id="load-disqus" onclick="disqus.load();", style="cursor:pointer;">
    点击加载Disqus评论
</a>

<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus = {
    load : function disqus(){
        if(typeof DISQUS !== 'object') {
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'https://yindongliang.disqus.com/embed.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
            $('#load-disqus').remove();
        }
    }
}
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<!-- <div id="disqus_thread"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://yindongliang.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
<script id="dsq-count-scr" src="//yindongliang.disqus.com/count.js" async></script>